@page "/"
@using PokemonBrowser.FE.Gateway.Responses
@using PokemonBrowser.FE.Gateway
@inject IPokemonBrowser PokemonApi

<PageTitle>Pokemon Browser</PageTitle>

<h1>Pokemon Browser</h1>

<p>Find pokemon by name or use random pokemon button.</p>
<input id="name" @bind="@_searchText" type="text"/>
<button class="btn btn-primary" @onclick="FindPokemon">Find pokemon by name</button>
<button class="btn btn-primary" @onclick="GetRandom">Random</button>

@if (_pokemon?.Id == 0)
{
    <p><em>There is no pokemon with name '@_searchText'</em></p>
}
else if(_pokemon is not null)
{
    <img src="@_pokemon.FrontImageUrl" alt="@_pokemon.Name"/>
    <h2>@_pokemon.Name</h2>                                                           
}

@code {
    private PokemonResponse? _pokemon;
    private string? _searchText;

    async Task FindPokemon()
    {
        if (_searchText is not null && !string.IsNullOrWhiteSpace(_searchText))
        {
            _pokemon = await PokemonApi.GetPokemon(_searchText);
        }        
    }

    async Task GetRandom()
    {
        _pokemon = await PokemonApi.GetRandom();
    }
}
